<ion-header>
  <ion-toolbar color="primary">
<ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is JumbleRumble?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     JumbleRumble is an android application made for kids to learn 
     basic alphabets and numbers. The app will help the kids to
     learn new word for them.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Name of Developer: Mark Virtus</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date Publish: 10/15/2021</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Resources: Modules</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hardware: PC/Windows 10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Software: Visual Studio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>



 
